*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
}

nav {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 150px;
    padding-top: 40px;
    
}

nav ul li {
    list-style: none;
    padding-left: 25px;
    color: rgb(243, 159, 2);
    font-weight: bold;
   
}

a {
    text-decoration: none;
}

a :hover {
    color: rgb(109, 32, 32);
}

.russo {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem; 
    color: rgb(109, 32, 32);
    padding-left: 150px;
    
    
}


#mktdigital{
    padding-left: 155px;
    font-family: 'Russo One', sans-serif;
    font-size: .85rem;
    font-weight: bold
    
}

#main {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 565px;
    
}

#main img {
    width: 50%;
}

#maintext {
    padding-right: 50px;
    width: 500px;
}

#maintext h1 {
    color: brown;
    font-weight: bold;
    font-size: 1.8rem;
}

#maintext h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 2.7rem;
    width: 380px;
    color: rgb(116, 109, 109);
}

#maintext p {
    font-weight: bold;
    font-size: 1rem;
    width: 380px;
    line-height: 25px;
}

#servicoscontainer {
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 450px;
    
}



#nossosservicos {
    background-image: url(imagens/curve-light-blue-background-abstract-free-vector.webp);
    height: auto;
    margin-top: 0px;
}

#nossosservicos h2{
    text-align: center;
    padding-top: 50px;
    letter-spacing: 2px;
}



#nossosservicos h3 {
    text-align: center;
    padding-top: 20px;
    margin: auto;
    
}

#nossosservicos p {
    line-height: 25px;
    text-align: center;
    margin: auto;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

#sitesresponsivos {
    background-color: white;
    height: 320px;
    width: 23%;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.562);
    width: auto;
    margin-right: 20px;
}

#copy {
    background-color: white;
    width: 23%;
    height: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.562);
    width: auto;
    margin-right: 20px;
}

#adwords {
    background-color: white;
    width: 23%;
    height: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.562);
    width: auto;
    margin-right: 20px;
}



#seo {
    background-color: white;
    width: 23%;
    height: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.562);
    width: auto;
    margin-right: 20px;
}

#adwordscontainer {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(109, 32, 32, 0.9), rgba(109, 32, 32, 0.9)), url(imagens/adsmainimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#adwordscontainer h2{
    text-align: center;
    padding-bottom: 40px;
    color: rgb(243, 159, 2);

}



#adwordscontainer h3{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(243, 159, 2);

}

#adwordscontainer p{
    text-align: center;
    line-height: 25px;
    color: white;
   

}

#adwordstexto {
    width: 700px;
}

#seocontainer {
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(109, 32, 32, 0.9), rgba(109, 32, 32, 0.9)), url(imagens/seomainimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#seocontainer h2{
    text-align: center;
    padding-bottom: 40px;
    color: rgb(243, 159, 2);

}

#seocontainer h3{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(243, 159, 2);

}

#seocontainer p{
    text-align: center;
    line-height: 25px;
    color: white;
   

}

#seotexto {
    width: 700px;
}

#landingcontainer {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(109, 32, 32, 0.9), rgba(109, 32, 32, 0.9)), url(imagens/landingmainimg.png);
    
    
}

#landingcontainer h2{
    text-align: justify;
    padding-bottom: 20px;
    color: rgb(243, 159, 2);
    font-weight: bold;

}

#landingcontainer h3{
    text-align: justify;
    padding-bottom: 25px;
    color: rgb(243, 159, 2);
    

}

#landingcontainer h4{
    text-align: justify;
    color: rgb(243, 159, 2);
    

}

#landingcontainer p{
    text-align: justify;
    line-height: 25px;
    color: white; 
      
}

#landingtexto {
    width: 700px;
    
    
}

#duvidascontainer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(109, 32, 32, 0.9), rgba(109, 32, 32, 0.9)), url(imagens/bluedoubt.jpg);
    
    
}

#duvidascontainer h2{
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(243, 159, 2);
    font-weight: bold;

}

#duvidascontainer h3{
    text-align: justify;
    padding-bottom: 25px;
    color: rgb(243, 159, 2);
    

}

#duvidascontainer h4{
    text-align: justify;
    color: rgb(243, 159, 2);
    

}

#duvidascontainer p{
    text-align: justify;
    line-height: 25px;
    color: white; 
      
}

#duvidastexto {
    width: 700px;
    padding-bottom: 50px;
    
    
}


#faleagora {
    position: fixed;
    width: 250px;
    top: 550px;
    left: 1090px;
}

#vantagens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    padding-bottom: 100px;
    padding-top: 70px;
   
}

#vantagens img {
    width: 90px;
    
}

#vantagensh3 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
    padding-top: 100px;
   

}



#parcelamento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#parcelamento p{
    padding-top: 10px;
    padding-left: 15px;
    text-align: justify;
    line-height: 25px;
}

.pbold {
    font-weight: bold;
    font-size: 1.3rem;
    
}

#dominiogratis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#dominiogratis p{
    padding-top: 10px;
    padding-left: 15px;
    text-align: justify;
    line-height: 25px;
}

#consultagratis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 450px;
    background-image: url(imagens/curve-light-blue-background-abstract-free-vector.webp);
    
}

#consultagratis h2{
    padding-left: 50px;
    width: 90%;
    text-align: center;
    color: rgb(116, 109, 109);
    font-size: 2rem;
}

#consultagratis h3{
    padding-left: 50px;
    width: 90%;
    text-align: center;
    color: rgb(151, 144, 144);
    font-size: 1.2rem;
}

#consultagratis img{
    height: 450px;
    width: auto;
    margin-bottom: 0px;
}

footer {
    
    display: flex;
    flex-direction: column;
        
}

#cttserv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    height: 180px;
    background-color: rgb(54, 54, 150);
    width: 100vw;
    font-size: 1rem;
    color: white;
    line-height: 30px;
}


#cttserv img {
    width: 30px;
    height: auto;
}

#contato {
    display: flex;
    flex-direction: column;
}

#cttzap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#social {
    display: flex;
    flex-direction: column;
}

#servicos {
    display: flex;
    flex-direction: column;
}

#copyright {
    width: 100vw;
    
}

#copyright p{
    text-align: center;
    background-color: rgb(101, 101, 199);
    color: white;
    height: 30px;
    padding-top: 5px;

}


/*media iphone*/

@media (max-width:416px){


    #main {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 450px;
        
    }
    
    #main img {
        display: none;
    }
    
    #maintext {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
    }
    
    #maintext h1 {
        font-size: 1.9rem;
    }
    
    #maintext h2 {
        padding-bottom: 10px;
        font-size: 1.8rem;
        width: 380px;
        text-align: center;
    }


    #servicoscontainer {
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1500px;
        
    }
    
    #nossosservicos {
        background-image: url(imagens/curve-light-blue-background-abstract-free-vector.webp);
        height: auto;
    }
    
    #nossosservicos h2{
        text-align: center;
        padding-top: 50px;
        letter-spacing: 2px;
        padding-bottom: 30px;
        
    }
     
      
    #sitesresponsivos {
        margin-bottom: 15px;
        margin: auto;
    }
    
    #copy {
        margin-bottom: 15px;
        margin: auto;
    }
    
    #adwords {
        margin-bottom: 15px;
        margin: auto;
    }
    
    #seo {
        
        margin: auto;
    }

    
    #vantagens {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
        padding-bottom: 100px;
        padding-top: 70px;
       
    }
    
    #vantagens img {
        width: 70px;
       
        
    }
    
    #vantagensh3 {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 100px;
              
    
    }

    #parcelamento {
        width: 350px;
        margin: auto;
        margin-bottom: 30px;
    }
       
    .pbold {
        font-weight: bold;
        font-size: 1.3rem;
        
    }
    
    #dominiogratis {
        width: 350px;
        margin: 0 auto;
    }
    
    #faleagora {
        position: fixed;
        width: 150px;
        top: 580px;
        left: 240px;
    }

    #consultagratis {
        flex-direction: column;
        width: 100vw;
              
    }

    #consultagratis img{
        display: none;
    }
    
    #contato {
        display: none;
    }
    

    
}